@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/clash-display");
// font
$fontSatoshi: "Satoshi", sans-serif;
$fontClash: "Clash Display", sans-serif;

// colors
$colorBase: #fff;
$colorText: #726e8d;
$colorTitle: #2c3e50;
$colorActive: #42b983;
$darkPrimary: #2A254B;
$colorBtnText: #2A254B;
$lightGrey: #ebebeb;
$lightGreyHover: #c9c9c9;

// colors Btn
$primary: rgb(0, 119, 255)